Hey there <%= @subscriber.email %>
<p>We so happy you decided to subscribe to Oenomel.us. Here is what you can expect from our emails:<p>

  <ul>
    <li> Product/Web Services/Books Recommendations...basically awesome stuff we have tried and enjoyed</li>

    <li> A realistic positivity to improve your day</li>

    <li> Stories/ Advice from our travels </li>

  </ul>
