
  <div>
<img src="file:///Users/MACBOOKPRO/Desktop/1234.png" class="left"/>
  <p>
  <div class="post">
  <h3> Challenge:</h3>
<h6 class="lightgray"> 26.7.1995 by D.S Tarantini </h6>

  It may be Difficult right now, you may not be able to see the way out, the way over, the way through. But you will, nothing ever stays the same,
  pain too, will pass. Challenges will be surpassed. Do your best, and trust that one of your tomorrows you will wake and all will be well.
</div>
  </p>

</div>
  <div>
<img src="file:///Users/MACBOOKPRO/Desktop/1234.png" class="left"/>
  <p>
  <div class="post">
  <h3> Challenge:</h3>
<h6 class="lightgray"> 26.7.1995 by D.S Tarantini </h6>

  It may be Difficult right now, you may not be able to see the way out, the way over, the way through. But you will, nothing ever stays the same,
  pain too, will pass. Challenges will be surpassed. Do your best, and trust that one of your tomorrows you will wake and all will be well.
</div>
  </p>

</div>
  <div>
<img src="file:///Users/MACBOOKPRO/Desktop/1234.png" class="left"/>
  <p>
  <div class="post">
  <h3> Challenge:</h3>
<h6 class="lightgray"> 26.7.1995 by D.S Tarantini </h6>

  It may be Difficult right now, you may not be able to see the way out, the way over, the way through. But you will, nothing ever stays the same,
  pain too, will pass. Challenges will be surpassed. Do your best, and trust that one of your tomorrows you will wake and all will be well.
</div>
  </p>

</div>
  <div>
<img src="file:///Users/MACBOOKPRO/Desktop/1234.png" class="left"/>
  <p>
  <div class="post">
  <h3> Challenge:</h3>
<h6 class="lightgray"> 26.7.1995 by D.S Tarantini </h6>

  It may be Difficult right now, you may not be able to see the way out, the way over, the way through. But you will, nothing ever stays the same,
  pain too, will pass. Challenges will be surpassed. Do your best, and trust that one of your tomorrows you will wake and all will be well.
</div>
  </p>

</div>
