
<hr></hr>

<p> Its our passion taking photos, recording audios, and sharing things we found valuable in our life journey.
Though our greatest passion is helping others through our creation. Here we offer all our original content available for download
and if you find value in our content,<a style="text-decoration:underline">donate here</a>(every little bit helps) or
<a style="text-decoration:underline"> share </a>(spread the value) to keep us creating great content.
 We wish you all the best and if you have any questions or comments<a style="text-decoration:underline"> contact us here </a>  </p>


<div id="nav" style="margin:15px">
 <ul>
  <li>
     <span style="font-size:1.5em"> Support us via:</span>
  </li>
  <li>
    <a href="https://www.instagram.com/oenomel.us/" target="_blank"> <i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
  </li>
  <span>  </span>
  <li>
    <a href="http://www.pinterest.com/oenomel0808" target="_blank"> <i class="fa fa-pinterest-square fa-2x " aria-hidden="true"></i></a>
  </li>
  <span>   </span>
  <li>
    <a href="https://www.instagram.com/dies.ist.uns/" target="_blank"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <span>   </span>
  <li>
    <a href="https://www.instagram.com/dies.ist.uns/" target="_blank"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <li>
    <span style="font-size:1.5em">   Donate: Patreon</span>
  </li>

 </ul>
</div>



<h3> Steve's Downloads </h3>
<hr></hr>
<div class="container-fluid">
  <div class="article">
    <div class="row" style="padding:0px,">
      <div class="col-md-4">
        <div>
          <div >
            <img src="assets/jabon.jpg" class="post"/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="post" >
        <div class="img">
          <img src="assets/recomend.jpg" class="post"/>
        </div>
      </div>
      </div>
      <div class="col-md-4" style="padding-right:0%">
        <div class="post" >
          <div class="img">
            <img src="assets/joinus-web.jpg" class="post"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h3>Estefania's Downloads</h3>
<hr></hr>
<div class="container-fluid">
  <div class="article">
    <div class="row" style="padding:0px,">
      <div class="col-md-4">
        <div>
          <div >
            <img src="assets/jabon.jpg" class="post"/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="post" >
        <div class="img">
          <img src="assets/recomend.jpg" class="post"/>
        </div>
      </div>
      </div>
      <div class="col-md-4" style="padding-right:0%">
        <div class="post" >
          <div class="img">
            <img src="assets/joinus-web.jpg" class="post"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>

<%= link_to "DOWNLOAD", welcome_download_png_path %>
<%= link_to "DOWNLOAD_MP3", welcome_download_mp3_path %>


<!--
use these file types to make a downloadable mp3 file
".mp3" => "audio/mpeg3",
".mp3" => "audio/x-mpeg-3",
".mp3" => "video/mpeg",
".mp3" => "video/x-mpeg", -->
