
<div id="nav" style="margin:15px">
 <ul>
  <li>
     <span style="font-size:1.5em"> Support us via:</span>
  </li>
  <li>
    <a href="https://www.instagram.com/oenomel.us/" target="_blank"> <i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a>
  </li>
  <span>  </span>
  <li>
    <a href="http://www.pinterest.com/oenomel0808" target="_blank"> <i class="fa fa-pinterest-square fa-2x " aria-hidden="true"></i></a>
  </li>
  <span>   </span>
  <li>
    <a href="https://www.instagram.com/dies.ist.uns/" target="_blank"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <span>   </span>
  <li>
    <a href="https://www.instagram.com/dies.ist.uns/" target="_blank"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <li>
    <span style="font-size:1.5em">   Donate: Patreon</span>
  </li>

 </ul>
</div>
<div class="container-fluid">
<hr></hr>
    <div class="row" style="padding-top:10px">
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>
      <div class="col-md-4" style="padding:10px">
          <a href="/"><img src="assets/estefaniaprofile.jpg" class="tile"/></a>
      </div>

    </div>



</div>

<%= link_to "DOWNLOAD", welcome_download_png_path %>
<%= link_to "DOWNLOAD_MP3", welcome_download_mp3_path %>


<!--
use these file types to make a downloadable mp3 file
".mp3" => "audio/mpeg3",
".mp3" => "audio/x-mpeg-3",
".mp3" => "video/mpeg",
".mp3" => "video/x-mpeg", -->
