<h1> Download </h1>

<%= link_to "DOWNLOAD", welcome_download_png_path %>
<%= link_to "DOWNLOAD_MP3", welcome_download_mp3_path %>


<!--
use these file types to make a downloadable mp3 file
".mp3" => "audio/mpeg3",
".mp3" => "audio/x-mpeg-3",
".mp3" => "video/mpeg",
".mp3" => "video/x-mpeg", -->
