<div class="container: fluid">

  <div class="row" style="padding:10px;">
    <div class="col-md-4" style="padding-right:4.75px">
      <div class="img" style="border-right: .5px solid #C0C0C0">
        <img src="assets/estefaniaprofile.jpg" class="post" style="max-height:300px;padding-right: 15px"/>
      </div>
    </div>
    <div class="col-md-8" style="padding-left:0%">
    <div style="text-align: left">
      <p class="light" style=" padding-left:10px">HI, i'm Estefania Sanpedro, a graduated from Integral Design from Guadalajara,
        México and currently living the paradise dream in Tulum with the love of my life. I am a cheerfull mexican with the
        nomad mind of exploring and travelling all the time. My head is always everywhere so im the kind of girl who is at the
        cafe listening to other peoples talking in different languages and not because of trying to know what are they saying.
        I love languages and know people from all around. My goal in life is to fill all my desires to be able to explored
        different countries and cultures. Im a fruit lover and future minimalist. Im definitely not a writer but ill do my best
        to share what i learn or do with oenomel. us each day. And hope you enjoy our lifestyle and all the thing we will show
        you how we accomplished.
      </p>
      </div>
    </div>
  </div>




</div>
