
<hr></hr>
<div class="container-fluid">
  <div class="article">
    <div class="row" style="padding:10px;">
      <div class="col-md-4" style="padding-right:0%">
        <div class="img">
          <img src="assets/usimage.jpg" class="post"/>
        </div>
      </div>
      <div class="col-md-8" style="padding-left:0%">
      <div class="post">
      <p class="light" style="padding-left:10px">Sample text: Estefania and Steve help over 1 million people through speech writing and
        promoting health, minimalism, self-improvement and other tips and tricks to create more and do more with life. Fufillment
        comes from providing value to as many people as we can, to create a better existence in small ways for as many people as possible.
        NBC, BBC, CBC, and NPR.we met on the atlantic and really like each other, its true love</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr></hr>

<h3>Our Story</h3>
<p>
We met on the Atlantic Ocean. Unable to let the love and passion go we were confronted with one question. Do we give this love a chance to flourish into
a relationship. Our answer wasn't so clear, but one thing was we couldn't stop talking, and  After meeting in London, then Germany,
Amsterdam, Guadalajarra, Huatulco, Oxaxca. There were moments of closness and moments of distance, there fights, there was


</p>

  <div>
<h3>RNDM Soap Company</h3>
<p>
We founded a quality and practical and healthy daily necessities company. Check us out at rndmsoap.com

</p>
  </div>


</div>
</div>
