
<div class="container-fluid">
  <p> say nothing, when that moment comes. When you want to scream, when the pain is unbearable, when the anxiety takes your
  stillness. When your body is being broken. Do not try to convince your mind that you can keep going, do not allow the pain
to win. Say nothing. Just press on, let it pass, it will pass. And you will be stronger tomorrow, and you will see the heights
that few men have ever seen. And one day when the day breaks, not even death will shake you.</p>
