<div class="container: fluid">

  <div class="row" style="padding:10px;">
    <div class="col-md-4" style="padding-right:4.75px">
      <div class="img" style="border-right: .5px solid #C0C0C0">
        <img src="assets/steveprofile.jpg" class="post" style="padding-right: 15px"/>
      </div>
    </div>
    <div class="col-md-8" style="padding-left:0%">
    <div style="text-align: left">
      <p class="light" style=" padding-left:10px">Hey there my name is Daniel Steven Tarantini, but everyone calls
          me Steve. Yup I'm one of those people called by their middle name, where you find out weeks later that
        there actual name is completely different. I'm also a traveler, excercise enthusiast, speaker of 3 languages, and inspirational
        speaker. My main goal is to always improve and provide value to others in all that I do. So I learned how to program, and buildt
        oenomel.us with my girlfriend, so we would have a place to share all the value we have gathered over the years. Please roam,
        subscribe and download, and contact us. I try to get back to every email and social media message we recieve.
      </p>
      </div>
    </div>
  </div>




</div>
