html, body {
  font-family: helvetica, verdana;
  width: 80%;
  height: 100%;
  margin-left:10%;
  margin-right:10%;
  text-align:center;
  line-height:120%;
  color:#404040 ;
  font-weight:50px;

  @font-face {
      font-family: "Hero Light";
      src: url('Hero Light.otf');
 }



h1.logo{
 text-align: center;
 margin-left:0px;
 margin-right:0px;
 letter-spacing: 2px;
 color: #C0C0C0 ;
 font-size: 40;
 font-weight:normal;

}

}

h1 {

  font-size: 40px;
  font-family: inherit;
  font-weight:normal;
}
h3.left {
  text-align:left;
  font-size: 1.5rem;

}
h6.lightgray {
text-align:none;
color:#C0C0C0;
font-size: 11px;
font-family: inherit;
}


p {

  font-family: inherit;
  font-size: 18px;
  color:#404040;
  margin:5px;

}
p.light {
color:#C0C0C0;
font-size: 16px;
font-family: inherit;
font-weight:lighter;


}

p.indexabout {

  font-family:inherit;
  font-size: 12px;
  padding-right:20px;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 50px;
  color:#404040;
  margin:5px;

}

div.articles {
  margin: 2px;
  width: 100%;
  display: inline-block;
  padding: 50px;

}

div.post{
border: 0px solid #C0C0C0;
font-size: 12px;
text-align: left;
word-wrap: break-word;
overflow-wrap: break-word;
padding-left: 0px;
padding-top: 0px;

}
div.img{
  width: 100%;
  border-right: 1.25px solid #C0C0C0;
  display: inline-block;
}
img.post{
  width:100%;
  height: 100%;
  padding-right: 15px;
}

textarea#message_area {
  width: 100px;
  height: 100px;
}

ul.a{
list-style-type: none;
line-height:20px;
font-size:1.6rem;
padding: 2px;
margin: 2px;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

#nav li {
    color: #C0C0C0 ;
    display:inline;
    text-decoration:none;
    text-align:left;
    font-size:16px;
}
a{
	color:#C0C0C0 ;
	text-decoration:none;

	}
a.nothing{
  color: #404040;
}
#nav a:hover {
text-decoration:none;
color: #404040 ;
}

.nav h1 {
    display:inline;
  text-align:center;
  text-decoration:none
}

a:hover{
text-decoration:none;
color:#C0C0C0 ;
}
#logo{
	color:gray;
	border:1px black;
	}
hr {
    margin:2px;
    padding:.10px;
    background-color: #C0C0C0;
  }
hr.line {
    border: 1px;
    color: #C0C0C0;
    height:1px;
    width:70%;
    margin:1px;
    padding:1px;
  }
footer{
    color:#C0C0C0;
    font-size: 14px;
    font-family: inherit;
    font-weight:lighter;
    padding-top: 30px;
  }
