<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @subscriber.email %></h1>
    <p>We so happy you decided to subscribe to Oenomel.us. Here is what you can expect from our emails:<p>

      <ul>
        <li> Product/Web Services/Books Recommendations...basically awesome stuff we have tried and enjoyed</li>

        <li> Short tidbits of positivity and lessons we have learned</li>

        <li> Stories/ Advice from our travels </li>

      </ul>
  </body>
</html>
